.homeBackground {
  background: repeating-linear-gradient(to right, #8942a8, #ba382f) !important;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
