<ion-header>
    <ion-toolbar class="menubar" style="position: fixed;">
        <ion-row class="ion-justify-content-around ion-align-items-center;">
            <ion-col col-12 col-xl-2 col-lg-3 col-md-4 size="6" class="ion-justify-content-center"
                style="text-align: center">
                <ion-title>
                    <ion-icon size="large" name="paper-plane"></ion-icon>
                </ion-title>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-buttons class=" ion-justify-content-around" >
                    <ion-button style="font-weight: bolder; font-size: 1em ;" class="toolbar" (click)="gotoAbout()">
                        About me</ion-button>
                    <ion-button style="font-weight: bolder; font-size: 1em ;" class="toolbar" (click)="gotoProjects()">
                        Projects</ion-button>
                    <ion-button style="font-weight: bolder; font-size: 1em;" class="toolbar" (click)="gotoContact()">
                        Contact</ion-button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>