<app-header></app-header>

<!--<ion-grid >-->
<ion-content>
<ion-card margin-top="200px">
    <ion-card-content>
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-col size="4" class="ion-align-items-center ion-text-center bigFont">
                    Yo!
                </ion-col>
                <ion-col size="8" class="ion-align-items-center fontNormal">
                    My First Coding project in life.
                        From ZERO to something more.
                    This is my 3-month CodeCamp project looks like.
                    The project is about booking the room in University's dormitory.

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>
<!--</ion-grid>-->
<!--<ion-grid>-->
<ion-card>
    <ion-card-content>
        <ion-grid>
            <ion-row class="ion-text-center">
                <ion-col size="12">
                    <ion-img class="photo" src="../../assets/screen.png"></ion-img>
                </ion-col>
                <ion-col size="12">
                    <ion-img class="photo" src="../../assets/phone-dormlist.png"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>
<!--</ion-grid>-->
</ion-content>