ion-button {
    --border-color: #ff6c82;
    --color: #ff6c82;
    --background: white;
    --background-hover: linear-gradient(to right, #ff9472, #ff6c82, #f2709c);
    --color-hover: white;
    --background-activated: linear-gradient(to right, #ff9472, #ff6c82, #f2709c);
}
