<ion-content>
    <div class="mb-5">
        <app-header></app-header>
    </div>
    <ion-grid style="width: 90vw; margin-bottom: 30px">
        <div class="mt-5 pt-3">
            <h1 style="font-size: 2rem; font-weight: bolder; text-align: center;">
                My works & Personal Projects
            </h1>
        </div>
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-card>
                    <ion-card-content>
                        <ion-card-title class="ion-text-center mt-3">
                            <h1><b>Dormitory Booking App (prototype)</b></h1>
                            <ion-chip>
                                <ion-label>Ionic</ion-label>
                            </ion-chip>
                            <ion-chip>
                                <ion-label>Angular</ion-label>
                            </ion-chip>
                            <ion-chip>
                                <ion-label>HTML5/CSS3</ion-label>
                            </ion-chip>
                            <ion-chip>
                                <ion-label>Javascript</ion-label>
                            </ion-chip>
                        </ion-card-title>
                        <ion-row class="ion-align-items-center ion-text-center">
                            <ion-col size="12" size-sm>
                                <div>
                                    <ion-button shape="round" fill="outline" (click)="openModal('1')">Demo</ion-button>
                                    <ion-button shape="round" fill="outline" (click)="goToGitlab('dorm')">Gitlab
                                    </ion-button>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row class="ion-align-items-center ion-text-center">
                            <ion-col size="12" size-sm>
                                <div class="pr-0">
                                    <ion-img src="./assets/screen.png" class="photo"></ion-img>
                                </div>
                            </ion-col>
                            <ion-col size="12" size-sm>
                                <div class="pl-0">
                                    <ion-img src="./assets/phone-dormlist.png"></ion-img>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-card>
                    <ion-card-content>
                        <ion-card-title class="ion-text-center mt-3">
                            Admin Page | Retrieving data from Back-end API for CRUD operation <br>
                            <ion-chip>
                                <ion-label>Vue.js</ion-label>
                            </ion-chip>
                            <ion-chip>
                                <ion-label>REST API</ion-label>
                            </ion-chip>
                            <ion-chip>
                                <ion-label>HTML5/CSS3</ion-label>
                            </ion-chip>
                        </ion-card-title>
                        <ion-row class="ion-align-items-center ion-text-center">
                            <ion-col size="12" size-sm>
                                <div>
                                    <ion-button shape="round" fill="outline" (click)="openModal('2.1')">Demo
                                    </ion-button>
                                    <ion-button shape="round" fill="outline" (click)="goToGitlab('retailAdmin')">Gitlab
                                    </ion-button>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row class=" ion-align-items-center ion-text-center">
                            <ion-col size="12" size-sm>
                                <div class="pr-0">
                                    <ion-img src="./assets/admin.png"></ion-img>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-card>
                    <ion-card-content>
                        <ion-card-title class="ion-text-center mt-3">
                            Member Page, Registration Form | Log in with LINE account <br>
                            <ion-chip>
                                <ion-label>Vue.js</ion-label>
                            </ion-chip>
                            <ion-chip>
                                <ion-label>REST API</ion-label>
                            </ion-chip>
                            <ion-chip>
                                <ion-label>HTML5/CSS3</ion-label>
                            </ion-chip>
                            <ion-chip>
                                <ion-label>Javascript</ion-label>
                            </ion-chip>
                            <ion-chip>
                                <ion-label>LINE LIFF</ion-label>
                            </ion-chip>
                            <ion-chip>
                                <ion-label>LINE Login</ion-label>
                            </ion-chip>
                        </ion-card-title>
                        <ion-row class="ion-align-items-center ion-text-center">
                            <ion-col size="12" size-sm>
                                <div>
                                    <ion-button shape="round" fill="outline" (click)="openModal('3')">Demo</ion-button>
                                    <ion-button shape="round" fill="outline" (click)="goToGitlab('retailApp')">Gitlab
                                    </ion-button>
                                </div>
                            </ion-col>
                        </ion-row>
                        <ion-row class="ion-align-items-center ion-text-center">
                            <ion-col size="12" size-sm>
                                <div class="pr-0">
                                    <ion-img src="./assets/linelogin.png"></ion-img>
                                </div>
                            </ion-col>
                            <ion-col size="12" size-sm>
                                <div class="pr-0">
                                    <ion-img src="./assets/memberupdate.png"></ion-img>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-row>
        </ion-grid>
    </ion-grid>
    <app-footer></app-footer>
</ion-content>