<ion-content>
    <div class="mb-5">
        <app-header></app-header>
    </div>
    <!-- <div style="display: flex; justify-content: center; align-items: center;">
        <div style="display: flex; flex: 1"> -->
            <!-- <ion-card margin-top="200px"> -->
            <!-- <ion-card-content>
                    <ion-grid> -->
            <!-- <ion-row class="bigFont ion-justify-content-center"> -->
            <!-- Thank you! -->
            <!-- </ion-row> -->
            <!-- <ion-row class="ion-justify-content-center"> -->
            <h1>Tongkorn.p@gmail.com</h1>
            <!-- </ion-row>
                    </ion-grid> -->
            <!-- </ion-card-content> -->
            <!-- </ion-card> -->
        <!-- </div>
    </div> -->

    <div style="display: flex; height: 300px;">
        <div style="display:flex; background: #FB8581; flex:3; justify-content: center; align-items: center;">1            <h1>Tongkorn.p@gmail.com</h1>
        </div>

        <div style=" display: flex; flex:4;flex-direction: column;">
            <div style="background: #234344; flex:1;">2</div>

            <div style="display:flex; flex: 1;">
                <div style="background: #FFA5FB; flex:1;">3</div>
                <div style="display:flex; flex-direction: column;flex:1">
                    <div style="background: #234344; flex:1;">4a</div>
                    <div style="background: #FFA5FB; flex:1;">4b</div>
                </div>
            </div>

        </div>
    </div>
</ion-content>