<ion-content>
  <div class="mb-5">
    <app-header></app-header>
  </div>
  <ion-grid style="width: 80vw; margin-bottom: 10%;">
    <div class="my-5">
      <h1 style="font-family: serif; font-size: 2rem; font-weight: bolder; text-align: center;">
        Hi, I am Tongkorn Pawananan,
      </h1>
      <h2 style="font-family: serif;  text-align: center;"> Web developer | Front-End Developer</h2>
    </div>

    <div style="display:flex; justify-content: center; position: relative; ">
      <div class="hexagon hexagon1 ml-0">
        <div class="hexagon-in1">
          <div class="hexagon-in2"></div>
        </div>
      </div>
    </div>
    <br>

    <h3 style="font-size: 1rem; text-align: center;">
      My specialization covers the UX visual design and front-end developement: HTML, CSS, Javascript.
      I'm interested in making mobile apps and web apps with the goal to be the full-stack developer in the long
      run.
      My website principles are <em>simple, functional and responsive</em>.
    </h3>

    <!-- Programming languages -->
    <ion-row class="ion-justify-content-center mt-5">
      <h1 style="font-size: 1.5rem; font-weight: bolder;"> My main skills </h1>
    </ion-row>
    <ion-row class="ion-align-items-center mx-4 mb-5">
      <ion-col style="text-align: -webkit-center;">
        <ion-img style="width: 50%;" src="../../assets/htmlCssJs.png"></ion-img>
      </ion-col>
    </ion-row>

    <!-- Frameworks | Library -->
    <ion-row class="ion-justify-content-center">
      <h1 style="font-weight: bolder;"> Frameworks& Libraries </h1>
    </ion-row>
    <ion-row class="ion-align-items-center my-4">
      <ion-col size="4" style="text-align: -webkit-center;">
        <ion-img style="width: 50%;" src="../../assets/angular.png"></ion-img>
      </ion-col>
      <ion-col size="4" style="text-align: -webkit-center;">
        <ion-img style="width: 50%;" src="../../assets/vuejs.png"></ion-img>
      </ion-col>
      <ion-col size="4" style="text-align: -webkit-center;">
        <ion-img style="width: 80%;" src="../../assets/ionic.png"></ion-img>
      </ion-col>
    </ion-row>

    <!-- Education -->
    <ion-row class="ion-justify-content-center mt-5">
      <h1 style="font-weight: bolder;">Education & Trainings</h1>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <div style="width:100px; margin-top: 20px;">
        <ion-img style="width:100%" src="../../assets/university.png"></ion-img>
      </div>
    </ion-row>
    <ion-text class="text-center">
      <h2>Faculty of Liberal Arts, Major in Business English Communication <br> <sub>- Thammasat University
          -</sub></h2>
    </ion-text>

    <ion-row class="ion-justify-content-center">
      <div>
        <ion-img style="width: 100%;" src="../../assets/codecamplogo.png"></ion-img>
      </div>
    </ion-row>

    <ion-text class="text-center">
      <h2>
        Java Full-Stack
        <br> <sub>- Code Camp Software Park Thailand -</sub></h2>
    </ion-text>
  </ion-grid>

  <div style="display:flex;flex-direction: column; flex:4;height: 30%; margin: auto; justify-content: center; align-items: center;
    color: #fff;
    background: linear-gradient(to right, #ff9472, #FF6C82, #f2709c);
  ;">
    <h2>Ready to work with me?</h2>
    <div>

      <ion-button style="margin-right: 15px;" color="light" (click)="mailTo()">
        <ion-icon size="normal" ios="ios-mail" md="md-mail" style="padding-right: 10px;"></ion-icon>Get in touch
      </ion-button>
      <ion-button style="font-weight: bolder; --background: #3BC6B6; color:white;">
        <ion-icon size="normal" ios="ios-download" md="md-download" style="padding-right: 10px;"></ion-icon> Download Resume
      </ion-button>
    </div>

  </div>
  <app-footer></app-footer>
</ion-content>