<app-header></app-header>
<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-col size="4" class="ion-align-items-center ion-text-center bigFont">
                        Hi!
                    </ion-col>
                    <ion-col size="8" class="ion-align-items-center ion-text-center fontNormal">
                        I'm Tongkorn Pawananan
                            A Former Backpacker in Australia.
                            A Life-long Learner.
                            Interested in digital designing and coding.
                            Currently looking for the extraordinary work in web/mobile software development

                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-title>My Skills</ion-title>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col size="6">
                        <ion-img src="../../assets/angular.png"></ion-img>
                    </ion-col>
                    <ion-col size="6" class="ion-align-items-center">
                        <ion-img src="../../assets/ionic.png"></ion-img>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-title>My Education</ion-title>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-col size="6">
                        <ion-img src="../../assets/codecamplogo.png"></ion-img>
                    </ion-col>
                    <ion-col size="6" class="ion-align-items-center">
                        <ion-img src="../../assets/university.png"></ion-img>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>
